#texto{
    position: relative;
    top: -24px;
    left: 55px;
}
#menu{
    margin:0;
    width:500px;
    list-style: none;
    position: absolute;
    top: 80%;
    left: 0;
    padding: 0;
}
            
ul, ol {
    list-style:none;
    
}
            
.lista > li {
    float:left;
}
            
.lista li a {
    color:black;
    text-decoration:none;
    padding:3px 5px;
    display:block;
    
}
            
.lista li a:hover {
    /*background-color:#434343;*/
    opacity: .70;
}
            
.lista li ul {
    display:none;
    position:absolute;
    /*min-width:140px;*/
    top: -15px;
    left: 80px;
    font-size:11px;
}
            
.lista li:hover > ul {
    display:block;
}
            
.lista li ul li {
    position:relative;
}
            
.lista li ul li ul {
    right:-200px;
    top:10px;
    left: 30px;
   
}
@media only screen and (min-width: 2000px) {
   #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 85%;
        left: 360px;
        padding: 0;
    } 
}
@media only screen and (max-width: 1999px) {
   #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 85%;
        left: 380px;
        padding: 0;
    } 
}
@media only screen and (min-width:1966px) and (max-width:1966px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 85%;
        left: 360px;
        padding: 0;
    }
}
@media only screen and (min-width:1920px) and (max-width:1920px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 70%;
        left: 360px;
        padding: 0;
    }
}
@media only screen and (min-width:1900px) and (max-width:1919px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 80%;
        left: 340px;
        padding: 0;
    }
}

@media only screen and (min-width:1825px) and (max-width:1896px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 82%;
        left: 340px;
        padding: 0;
    }
}

@media only screen and (min-width:1789px) and (max-width:1796px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 82%;
        left: 340px;
        padding: 0;
    }
}
@media only screen and (min-width: 1700px) and (max-width: 1787px) {
   #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 360px;
        padding: 0;
    } 
}
@media only screen and (min-width:1643px) and (max-width:1696px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 86%;
        left: 340px;
        padding: 0;
    }
}
@media only screen and (min-width:1601px) and (max-width:1660px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 86%;
        left: 200px;
        padding: 0;
    }
}
@media only screen and (min-width:1600px) and (max-width:1600px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 85%;
        left: 210px;
        padding: 0;
    }
}
@media only screen and (min-width:1580px) and (max-width:1599px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 87%;
        left: 210px;
        padding: 0;
    }
}
@media only screen and (min-width:1570px) and (max-width:1579px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 88%;
        left: 210px;
        padding: 0;
    }
}
@media only screen and (min-width:1560px) and (max-width:1569px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 89%;
        left: 210px;
        padding: 0;
    }
}
@media only screen and (min-width:1550px) and (max-width:1559px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 90%;
        left: 210px;
        padding: 0;
    }
}
@media only screen and (min-width:1530px) and (max-width:1549px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 90%;
        left: 210px;
        padding: 0;
    }
}
@media only screen and (min-width:1500px) and (max-width:1529px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 92%;
        left: 210px;
        padding: 0;
    }
}
@media only screen and (min-width:1450px) and (max-width:1459px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 95%;
        left: 180px;
        padding: 0;
    }
}
@media only screen and (min-width:1440px) and (max-width:1449px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 80%;
        left: 180px;
        padding: 0;
    }
}
@media only screen and (min-width:1415px) and (max-width:1439px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 95%;
        left: 140px;
        padding: 0;
    }
}
@media only screen and (min-width:1400px) and (max-width:1414px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 96%;
        left: 140px;
        padding: 0;
    }
}
@media only screen and (min-width:1380px) and (max-width:1399px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 98%;
        left: 140px;
        padding: 0;
    }
}
@media only screen and (min-width:1370px) and (max-width:1379px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 140px;
        padding: 0;
    }
}
@media only screen and (min-width:1360px) and (max-width:1369px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 85%;
        left: 120px;
        padding: 0;
    }
}
@media only screen and (min-width:1340px) and (max-width:1359px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 108%;
        left: 120px;
        padding: 0;
    }
}
@media only screen and (min-width: 1320px) and (max-width: 1339px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 108%;
        left: 120px;
        padding: 0;
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1319px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 109%;
        left: 120px;
        padding: 0;
    }
}

@media only screen and (min-width:1290px) and (max-width:1299px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 109%;
        left: 120px;
        padding: 0;
    }
}
@media only screen and (min-width:1280px) and (max-width:1289px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 85%;
        left: 60px;
        padding: 0;
    }
}
/*@media only screen and (min-width:1284px) and (max-width:1284px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 120%;
        left: 60px;
        padding: 0;
    }
}*/
@media only screen and (min-width:1260px) and (max-width:1279px) {
    #menu{
         margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 109%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1250px) and (max-width:1259px) {
    #menu{
         margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 110%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1240px) and (max-width:1249px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 110%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1220px) and (max-width:1239px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 112%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1201px) and (max-width:1219px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 112%;
        left: 60px;
        padding: 0;
    }
}

@media only screen and (min-width:1200px) and (max-width:1200px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 114%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1190px) and (max-width:1199px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 122%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1180px) and (max-width:1189px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 122%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1160px) and (max-width:1179px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 122%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1150px) and (max-width:1159px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 123%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1140px) and (max-width:1149px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 123%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1130px) and (max-width:1139px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 125%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1120px) and (max-width:1129px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 125%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1110px) and (max-width:1119px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 126%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1026px) and (max-width:1099px) {
    #menu{
        margin:0;
        width:500px;
        list-style: none;
        position: absolute;
        top: 132%;
        left: 60px;
        padding: 0;
    }
}
@media only screen and (min-width:1025px) {
    .movil{
        display: none;
    }
    .atras-movil{
        display: none;
    }
}