table,tr,td,th{
    border:1px solid black;
}
#img-mar{
    background-repeat: no-repeat;
    width: 280px;
    height:730px;
    padding: 0px;
    margin: 0px;
}
@media only screen and (min-width:1025px) {
    #img-mar{
        width: 300px;
    }
    .col-lg-8{
        top: -720px
    }
    section{
        position: relative;
        left: 50px;
    }
    body{
        overflow-x: hidden;
    }
    #tabla-movil{
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    #img-mar{
        display: none;
    }
    .col-lg-8{
        position: relative;
        top: 0;
        left: 0;
    }
    #tabla-pc{
        display: none;
    }
}
@media only screen and (max-width: 1020px){
    #tabla-movil{
        left: 0;

    }
}