aside{
    position: absolute;
    left: 60px;
    top: 90px;
}
video{
    padding: 30px;
    width: 640px; 
    height: 390px;
}
#creditos-video{
    font-size: 10px;
    margin: 0;
    padding:0;
    z-index: 100;
    position: relative;
}
#planktos{
    margin: 0;
    position: relative;
    top: 50px;
    left: 90px;
}
#introduccion{
    position: relative;
    font-size: 30px;
}
.efecto-planktos img{
    -webkit-transition:all .6s ease; /* Safari y Chrome */
    -moz-transition:all .6s ease; /* Firefox */
    -o-transition:all .6s ease; /* IE 9 */
    -ms-transition:all .6s ease; /* Opera */
}
.efecto-planktos:hover img{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
#aspiradoras{
    margin: 0;
    position: relative;
    left: 40px;
}
.efecto-aspiradoras img{
    -webkit-transition:all .6s ease; /* Safari y Chrome */
    -moz-transition:all .6s ease; /* Firefox */
    -o-transition:all .6s ease; /* IE 9 */
    -ms-transition:all .6s ease; /* Opera */
}
.efecto-aspiradoras:hover img{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
#escarabajos{
    margin: 0;
    position: relative;
    left: 100px;
}
.efecto-escarabajos img{
    -webkit-transition:all .6s ease; /* Safari y Chrome */
    -moz-transition:all .6s ease; /* Firefox */
    -o-transition:all .6s ease; /* IE 9 */
    -ms-transition:all .6s ease; /* Opera */
}
.efecto-escarabajos:hover img{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
 #descargas{
    float: right; 
    position: relative;
}
@media only screen and (min-width:1920px)  {
    body{
        overflow-y: hidden;
    }
    .iconos{
        position: relative;
        left: -60px;
        top: -430px;
    }
    .md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 900px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 180px;
        top: 140px;
    }
    aside{
        position: absolute;
        left: 100px;
        top: 60px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 280px;
        top: -10px;
    }
     #descargas{
        float: right; 
        position: relative;
        top: -390px;
    }
}
@media only screen and (min-width:1900px) and (max-width:1919px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 930px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 100px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
       /* z-index: 100;*/
        position: relative;
        left: 280px;
    }
}
/*@media only screen and (max-width: 1919px) {
    #descargas{
        float: right; 
        position: relative;
        top: -380px;
    }   
}*/
@media only screen and (min-width:1800px) and (max-width:1899px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 930px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 280px;
    }
}
@media only screen and (min-width:1884px) and (max-width:1884px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 930px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
}
@media only screen and (min-width:1880px) and (max-width:1880px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 930px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
}
@media only screen and (min-width:1872px) and (max-width:1872px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 930px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
}
@media only screen and (min-width:1868px) and (max-width:1868px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 930px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
}
@media only screen and (min-width:1852px) and (max-width:1852px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 930px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
}
@media only screen and (min-width:1848px) and (max-width:1848px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 930px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
}
@media only screen and (min-width:1840px) and (max-width:1840px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 930px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 180px;
        top: 100px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
}
@media only screen and (min-width:1830px) and (max-width:1830px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 930px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 180px;
        top: 100px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
}
@media only screen and (min-width:1820px) and (max-width:1828px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 930px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
}
@media only screen and (min-width:1804px) and (max-width:1816px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 900px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
}
@media only screen and (min-width:1771px) and (max-width:1799px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 750px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 280px;
    }
}
@media only screen and (min-width:1760px) and (max-width:1769px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 750px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 250px;
    }
}
@media only screen and (min-width:1701px) and (max-width:1759px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 750px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        /*z-index: 100;*/
        position: relative;
        left: 250px;
    }
}
@media only screen and (min-width:1700px) and (max-width:1700px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 750px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        position: relative;
        left: 250px;
        top: -20px;
    }
}
@media only screen and (min-width:1601px) and (max-width:1699px) {
    .iconos{
        position: relative;
        left: -40px;
        top: -450px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 750px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: -40px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: 200px;
        top: 60px;
    }
    aside{
        position: absolute;
        left: 60px;
        top: 100px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 130px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 250px;
        top: -20px;
    }
}
@media only screen and (min-width:1600px) and (max-width:1600px) {
    .iconos{
        position: relative;
        left: -80px;
        top: -100px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 650px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 50px;
    }
    video{
       /* z-index: 100;*/
        position: absolute;
        left: 120px;
        top: -20px;
    }
    #atras-pc{
        position: relative;
        left: 50px;
        top: 50px;
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 150px;
        top: 375px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: -80px; 
        font-size: 20px;
    }
}
@media only screen and (max-width: 1599px) {
    .iconos{
        position: relative;
        left: 20px;
        top: -100px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 750px;
        top: 20px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 50px;
    }
    video{
        /*z-index: 100;*/
        position: fixed;
        left: 250px
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 150px;
        top: 400px;
    }
    #atras-pc{
        position: relative;
        left: 80px;
        top: 50px;
    }
}
@media only screen and (max-width: 1596px) {
    .iconos{
        position: relative;
        left: 20px;
        top: -100px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 750px;
        top: 20px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 50px;
    }
    video{
        /*z-index: 100;*/
        position: fixed;
        left: 250px
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 200px;
        top: 400px;
    }
    #atras-pc{
        position: relative;
        left: 80px;
        top: 50px;
    }
}
@media only screen and (max-width: 1588px) {
    .iconos{
        position: relative;
        left: 20px;
        top: -100px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 700px;
        top: 20px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 50px;
    }
    video{
        /*z-index: 100;*/
        position: fixed;
        left: 250px
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 150px;
        top: 400px;
    }
    #atras-pc{
        position: relative;
        left: 80px;
        top: 50px;
    }
}
@media only screen and (max-width: 1592px) {
    #descargas{
        position: relative;
        top: -10px;
    }
}
@media only screen and (max-width:1490px) {
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 700px;
        top: 20px;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width:1440px) {
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 700px;
        top: 20px;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (min-width:1400px) and (max-width:1400px) {
    .iconos{
        position: relative;
        left: 20px;
        top: -100px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 500px;
        top: 20px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 50px;
    }
    video{
        /*z-index: 100;*/
        position: fixed;
        left: 250px
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 160px;
        top: 400px;
    }
    #atras-pc{
        position: relative;
        left: 80px;
        top: 50px;
    }
}
@media only screen and (min-width:1380px) and (max-width:1399px) {
    .iconos{
        position: relative;
        left: 20px;
        top: -100px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 500px;
        top: 20px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 50px;
    }
    video{
        /*z-index: 100;*/
        position: fixed;
        left: 250px
    }
    #atras-pc{
        position: relative;
        left: 80px;
        top: 50px;
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 200px;
        top: 400px;
    }
}
@media only screen and (max-width: 1379px) {
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 650px;
        top: 20px;
        margin: 0;
        padding: 0;
    }
    video{
        /*z-index: 100;*/
        position: fixed;
        left: 200px
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 120px;
        top: 400px;
    }
}
@media only screen and (min-width:1366px) and (max-width:1366px) {
    .iconos{
        position: absolute;
        left: 750px;
        top: 200px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 600px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
        left: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 220px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: -40px;
        top: 30px;
        margin: 0;
        padding: 0;
    }
    video{
        padding: 30px;
        position: relative;
        left: 90px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 120px;
        top: -30px;
    }
}
@media only screen and (min-width:1300px) and (max-width:1359px) {
    .iconos{
        position: absolute;
        left: 750px;
        top: 200px;
    }
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 600px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
        left: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 220px;
        top: 30px;
    }
    #atras-pc{
        position: relative;
        left: -30px;
        top: 30px;
        margin: 0;
        padding: 0;
    }
    video{
        padding: 30px;
        position: relative;
        left: 90px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 120px;
        top: -20px;
    }

}
@media only screen and (max-width:1355px) {
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 120px;
        top: -20px;
    }
}
@media only screen and (max-width: 1347px) {
    #introduccion{
        position: relative;
        font-size: 30px;
        left: 600px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (min-width:1287px) and (max-width:1299px) {
    body{
        overflow-x: hidden;
    }
    .iconos{
        position: relative;
        left: 0px;
        top: -400px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 580px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 90px;
    }
    #atras-pc{
        position: relative;
        left: 40px;
        top: 60px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 90px;
        /*z-index: 100;*/
    }
}
@media only screen and (max-width: 1289px) {
    #descargas{
        float: right; 
        position: relative;
        top: -640px;
    }
}
@media only screen and (max-width:1286px) {
    #descargas{
        float: right; 
        position: relative;
        top: -40px;
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 130px;
        top: 410px;
    }
    section{
        position: static;
    } 
}
@media only screen and (min-width:1280px) and (max-width:1280px) {
    body{
        overflow-x: hidden;
    }
    .iconos{
        position: relative;
        left: 0px;
        top: -400px;
    }
    .col-lg-4{
        height: 0;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 580px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #planktos{
        position: relative;
        top: 0;
        z-index: 100;
    }
    #aspiradoras{
        position: relative;
        left: 80px;
        top: 100px;
    }
    #escarabajos{
        position: relative;
        top: 220px;

    }
    #atras-pc{
        position: relative;
        left: 0;
        top: 60px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 90px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 120px;
        top: -20px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 50px;
    }
}
@media only screen and (min-width:1260px) and (max-width:1278px) {
    body{
        overflow-x: hidden;
    }
    .iconos{
        position: relative;
        left: 0px;
        top: -400px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 580px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 90px;
    }
    #atras-pc{
        position: relative;
        left: 50;
        top: 60px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 90px;
        /*z-index: 100;*/
    }
}
@media only screen and (max-width: 1275px) {
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 120px;
        top: -10px;
    }
    /*#descargas{
        float: right; 
        position: relative;
        top: -350px;

    }*/
}
@media only screen and (max-width: 1272px) {
    #descargas{
        float: right; 
        position: relative;
        top: -350px;

    }
}
@media only screen and (min-width:1200px) and (max-width:1259px) {
    body{
        overflow-x: hidden;
    }
    .iconos{
        position: relative;
        left: 0px;
        top: -400px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 580px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 90px;
    }
    #atras-pc{
        position: relative;
        left: 50;
        top: 60px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 90px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 100px;
    }
}
@media only screen and (min-width:1180px) and (max-width:1199px) {
    body{
        overflow-x: hidden;
    }
    .iconos{
        position: relative;
        left: 470px;
        top: -400px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 580px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 90px;
    }
    #atras-pc{
        position: relative;
        left: 50;
        top: 40px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 90px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 9px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 100px;
    }
}
@media only screen and (min-width:1160px) and (max-width:1179px) {
    body{
        overflow-x: hidden;
    }
    .iconos{
        position: relative;
        left: 470px;
        top: -400px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 480px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 90px;
    }
    #atras-pc{
        position: relative;
        left: 50;
        top: 40px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 90px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 9px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 100px;
    }
}
@media only screen and (min-width:1100px) and (max-width:1159px) {
    .iconos{
        position: relative;
        left: 470px;
        top: -400px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 480px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 90px;
    }
    #atras-pc{
        position: relative;
        left: 50;
        top: 40px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 90px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 9px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 100px;
    }
}
@media only screen and (min-width:1026px) and (max-width:1099px) {
    body{
        overflow-x: hidden;
    }
    .iconos{
        position: relative;
        left: 470px;
        top: -400px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 480px;
        top: 10px;
        margin: 0;
        padding: 0;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    #aspiradoras{
        position: relative;
        left: 90px;
    }
    #atras-pc{
        position: relative;
        left: 50;
        top: 40px;
    }
    video{
        padding: 30px;
        position: relative;
        left: 90px;
        /*z-index: 100;*/
    }
    #creditos-video{
        font-size: 9px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 100px;
    }
}
@media only screen and (min-width:1025px) {
    body{
        overflow-x: hidden;
        /*overflow-y: hidden;*/
    }
    video{
        z-index: 100;
    }
    #atras-pc{
        z-index: 100;
    }
    .img-movil{
        display: none;
    }
    #creditos-video{
        background: #D9DADB;
        width: 600px;
    }
    .texto-descargas{
        height: 0;
    }
}
@media only screen and (max-width:1024px) and (min-width: 1024px) {
    body{
        overflow-x: hidden;
    }
    .iconos{
        position: relative;
        left: 400px;
        top: -380px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 450px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    #aspiradoras{
        position: relative;
        left: 90px;
    }
    video{
        position: relative;
        top: 30px;
        padding: 30px;
        /*z-index: 100;*/
        left: 0px;
    }
    #atras-pc{
        display: none;
    }
    .img-movil{
        display: none;
    }
    .atras-movil{
        position: relative;
        left: -380px;
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 40px;
        top: 40px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: -360px;
    }    
}
@media only screen and (max-width:1023px) {
    body{
        overflow-x: hidden;
    }
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .iconos{
        display: none; 
    }
    .atras-movil{
        position: relative;
        left: -360px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 420px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    video{
        padding: 10px;
        position: relative;
        left: 160px; 
    }
    #creditos-video{
        font-size: 9px;
        margin: 0;
        padding:0;
        position: relative;
        left: 200px;
    }
    .col-xs-4{
        position: relative;
        top: 60px;
    }
    .planktos{
        width: 110px;
        position: relative;
        top: 0;
        left: 100px;
    }
    .aspiradoras{
        width: 110px;
        position: absolute;
        top: 0;
        left: 100px;
    }
    .escarabajos{
       width: 110px;
       position: absolute;
       top: 0;
       left: 100px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 100px;
    }     
}
@media only screen and (max-width: 1020px) {
    #creditos-video{
        font-size: 9px;
        margin: 0;
        padding:0;
        position: relative;
        left: 160px;
        top: 0px;
    }
    #descargas{
        position: relative;
        top: 100px;
    }
}
@media only screen and (max-width:991px) {
    video{
        position: relative;
        left: 20px;
    }
}
@media only screen and (max-width:990px) {
    body{
        overflow-x: hidden
    }
    .col-lg-1{
        position: relative;
        top: 150px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    .col-lg-4{
        position: relative;
        top: -410px;
    }
}

@media only screen and (max-width:960px) {
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .iconos{
        display: none; 
    }
    .atras-movil{
        position: relative;
        left: -380px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 450px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    video{
        padding: 10px; 
    }
    .planktos{
        width: 110px;
        position: relative;
        top: 0;
        left: 150px;
    }
    .aspiradoras{
        width: 110px;
        position: absolute;
        top: 0;
        left: 100px;
    }
    .escarabajos{
       width: 110px;
       position: absolute;
       top: 0;
       left: 100px;
    } 
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 180px;
        top: 5px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 90px;
    }    
}
@media only screen and (max-width: 932px) {
    #introduccion{
        position: relative;
        left: 420px;
    }
}
@media only screen and (max-width:900px) {
    body{
        overflow-x: hidden
    }
    .col-lg-1{
        position: relative;
        top: 150px;
    }
    .col-md-1{
        position: relative;
        top: 150px;
    }
    .col-lg-4{
        position: relative;
        top: -410px;
    }
}
@media only screen and (max-width:854px) {
    body{
        overflow-x: hidden;
    }
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 360px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .iconos{
        display: none;    
    } 
    video{
        padding: 10px;
    }
    .planktos{
        width: 120px;
        position: relative;
        top: 0;
        left: 120px;
    }
    .aspiradoras{
        width: 120px;
        position: absolute;
        top: 0;
        left: 100px;       
    }
    .escarabajos{
       width: 120px;
        position: absolute;
        top: 0;
        left: 80px;
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 130px;
    }       
}
@media only screen and (max-width: 849px) {
    video{
        padding: 10px;
        left: 0px;
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 130px;
    }  
}
@media only screen and (max-width:823px) {
    .col-xs-4{
        position: relative;
        top: 30px;
    }  
}
@media only screen and (max-width: 812px) {
    .atras-movil{
        position: relative;
        left: -360px;
    }
    .planktos{
        position: relative;
        left: 60px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 50px;
    }
}
@media only screen and (max-width:800px) {
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .iconos{
        display: none;       
    } 
    .atras-movil{
        position: relative;
        left: -340px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 350px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    video{
        padding: 10px;
        position: relative;
        left: 0;
    }
    .planktos{
        width: 120px;
        position: relative;
        top: 0;
    }
    .aspiradoras{
        width: 120px;
        position: absolute;
        top: 0;
        left: 80px;
    }
    .escarabajos{
       width: 120px;
        position: absolute;
        top: 0;
        left: 50px;
    }
    .col-xs-4{
        position: relative;
        top: 30px;
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 100px;
        top: 5px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 80px;
    }       
}
@media only screen and (max-width:768px) {
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 330px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .planktos{
        width: 120px;
        position: relative;
        top: 0;
        left: 60px;
    }
    .aspiradoras{
        width: 120px;
        position: absolute;
        top: 0;
        left: 60px;
    }
    .escarabajos{
       width: 120px;
        position: absolute;
        top: 0;
        left: 50px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 60px;
    }
}
@media only screen and (max-width:738px) {
    video{
        position: relative;
        left: 0;
    }
}
@media only screen and (max-width:736px) {
    body{
        overflow-x: hidden;
    }
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .iconos{
        display: none;  
    } 
    video{
        padding: 10px;
    }
    .atras-movil{
        position: relative;
        left: -320px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 320px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .img-movil{
        position: relative;
        top: 0;
    }
    .planktos{
        width: 120px;
        position: relative;
        top: 0;
        left: 20px;
    }
    .aspiradoras{
        width: 120px;
        position: absolute;
        top: 0;
        left: 50px;    
    }
    .escarabajos{
       width: 120px;
        position: absolute;
        top: 0;
        left: 50px;
    }
    .col-xs-4{
        position: relative;
        left: 30px;
    } 
}  
@media only screen and (max-width:732px) {
    body{
        overflow-x: hidden;
    }
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .iconos{
        display: none;       
    }
    .atras-movil{
        position: relative;
        left: -320px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 300px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    video{
        padding: 10px;
    }
    .img-movil{
        position: relative;
        top: 0;
    }
    .planktos{
        width: 120px;
        position: relative;
        top: 0;
        left: 20px;
    }
    .aspiradoras{
        width: 120px;
        position: absolute;
        top: 0;
        left: 50px;  
    }
    .escarabajos{
       width: 120px;
        position: absolute;
        top: 0;
        left: 50px;
    }
    .col-xs-4{
        position: relative;
        top: 30px;
        left: 20px;
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 50px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 60px;
    }     
} 
@media only screen and (max-width:667px) {
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 280px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .atras-movil{
        position: relative;
        left: -300px;
    }
}
@media only screen and (max-width:640px) {
    body{
        overflow-x: hidden;
    }
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .iconos{
        display: none;    
    } 
    video{
        padding: 10px;
    }
    .atras-movil{
        position: relative;
        left: -280px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 250px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .img-movil{
        position: relative;
        top: 0;
    }
    .planktos{
        width: 120px;
        position: relative;
        top: 0;
        left: 20px;
    }
    .aspiradoras{
        width: 120px;
        position: absolute;
        top: 0;
        left: 40px;
        
    }
    .escarabajos{
       width: 120px;
        position: absolute;
        top: 0;
        left: 50px;
    }
    .col-xs-4{
        position: relative;
        top: 30px;
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 10px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 60px;
    }     
}
@media only screen and (max-width:600px) {
    body{
        overflow-x: hidden;
    }
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .iconos{
        display: none;   
    }
    .atras-movil{
        position: relative;
        left: -250px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 240px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    video{
        padding: 10px;
        position: relative;
        top: 0;
    }
    .img-movil{
        position: relative;
        top: 50px;
    }
    .planktos{
        width: 120px;
        position: relative;
        top: 0;
        left: 10px;
    }
    .aspiradoras{
        width: 120px;
        position: absolute;
        top: 0;
        left: 35px;  
    }
    .escarabajos{
       width: 120px;
        position: absolute;
        top: 0;
        left: 50px;
    }
    .col-xs-4{
        position: relative;
        top: 0;
    }
    #creditos-video{
        font-size: 10px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 10px;
        top: 5px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 90px;
    }       
}
@media only screen and (max-width:568px) {
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 230px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .col-xs-4{
        position: relative;
        left: 0;
    }
    .atras-movil{
        position: relative;
        left: -240px;
    }  
}
@media only screen and (max-width: 533px) {
    .atras-movil{
        position: relative;
        left: -220px;
    }
    #introduccion{
        position: relative;
        font-size: 26px;
        left: 200px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 80px;
    }
}
@media only screen and (max-width: 510px) {
    .atras-movil{
        position: relative;
        left: -210px;
    }
}
@media only screen and (max-width:480px) {
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .iconos{
        display: none;   
    } 
    video{
        padding: 10px;
    }
    .atras-movil{
        position: relative;
        left: -200px;
    }
    #introduccion{
        position: relative;
        font-size: 20px;
        left: 200px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .planktos{
        width: 120px;
        position: relative;
        top: 0;
        left: 5px;
    }
    .aspiradoras{
        width: 120px;
        position: absolute;
        top: 0;
        left: 25px; 
    }
    .escarabajos{
       width: 120px;
       position: absolute;
       top: 0;
       left: 30px;
    }
    .col-xs-4{
        position: relative;
        top: -20px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 60px;
    }     
}
@media only screen and (max-width: 460px) {
    .atras-movil{
        position: relative;
        left: -180px;
    }
}
@media only screen and (max-width:417px) {
    #introduccion{
        position: relative;
        font-size: 20px;
        left: 150px;
        top: 0;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width:415px) {
    #introduccion{
        position: relative;
        font-size: 20px;
        left: 150px;
        top: 0;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width:414px) {
    .atras-movil{
        position: relative;
        left: -160px;
    }
    #introduccion{
        position: relative;
        font-size: 20px;
        left: 160px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .escarabajos{
       width: 120px;
       position: absolute;
       top: 0;
       left: 10px;
    }
}
@media only screen and (max-width:412px) {
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .iconos{
        display: none;       
    } 
    video{
        padding: 10px;
    }
    .atras-movil{
        position: relative;
        left: -160px;
    }
    #introduccion{
        position: relative;
        font-size: 20px;
        left: 150px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .planktos{
        width: 110px;
        position: relative;
        top: 0;
        left: 5px;
    }
    .aspiradoras{
        width: 110px;
        position: absolute;
        top: 0;
        left: 15px;   
    }
    .escarabajos{
       width: 110px;
       position: absolute;
       top: 0;
       left: 10px;
    }   
}
@media only screen and (max-width:411px) {
    .col-xs-4{
        position: relative;
        left: 0;
    }
    #introduccion{
        position: relative;
        font-size: 20px;
        left: 155px;
        top: 0;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width:384px) {
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .iconos{
        display: none;       
    } 
    video{
        padding: 10px;
    }
    .atras-movil{
        position: relative;
        left: -150px;
    }
    #introduccion{
        position: relative;
        font-size: 20px;
        left: 140px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .planktos{
        width: 110px;
        position: relative;
        top: 0;
        left: 5px;
    }
    .aspiradoras{
        width: 110px;
        position: absolute;
        top: 0;
        left: 15px; 
    }
    .escarabajos{
       width: 110px;
       position: absolute;
       top: 0;
       left: 10px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 50px;
    }   
}
@media only screen and (max-width:360px) {
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .atras-movil{
        position: relative;
        left: -140px;
    }
    #introduccion{
        position: relative;
        font-size: 20px;
        left: 130px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .iconos{
        display: none;      
    } 
    video{
        padding: 10px;
    }
    .img-movil{
        position: relative;
        top: 40px;
    }
    .planktos{
        width: 100px;
        position: relative;
        top: 0;
    }
    .aspiradoras{
        width: 105px;
        position: absolute;
        top: 0;  
    }
    .escarabajos{
        width: 105px;
        position: absolute;
        top: 0;
    }
    .col-xs-4{
        position: relative;
        top: 0;
        left: 0;
    }
    #creditos-video{
        font-size: 9px;
        margin: 0;
        padding:0;
        z-index: 100;
        position: relative;
        left: 10px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 80px;
    }   
}
@media only screen and (max-width:320px) {
    #atras-pc{
        display: none;
    }
    #menu{
        display: none;
    }
    .iconos{
        display: none;      
    }
    .atras-movil{
        position: relative;
        left: -120px;
    }
    #introduccion{
        position: relative;
        font-size: 20px;
        left: 120px;
        top: 0;
        margin: 0;
        padding: 0;
    }
    video{
        padding: 10px;
    }
    .planktos{
        width: 90px;
        position: relative;
        top: 0;
    }
    .aspiradoras{
        width: 90px;
        position: absolute;
        top: 0;   
    }
    .escarabajos{
       width: 90px;
        position: absolute;
        top: 0;
    }
    .col-xs-4{
        position: relative;
        left: 0;
        top: -10px;
    }
    #descargas{
        float: right; 
        position: relative;
        top: 60px;
    }   
}