body{
    overflow-x: hidden;
}
article{
    border: solid 1px #D17E24;
    border-radius: 50px;
    padding: 10px;
}
a:hover{
    opacity: .70;
}
.img-presentacion{
    float: right;
    border: solid 1px #000;
}
.col-lg-2{
    position: relative;
    top: 130px;
}
.presentacion-img{
    position: relative; 
    left: 0px; 
    padding: 0px;
}
@media only screen and (min-width:1920px) {
    .presentacion-img{
        position: relative; 
        left:480px; 
        padding: 0px;
    }
}
@media only screen and (min-width: 1090px) and (max-width: 2000px) {
    .presentacion-img{
        position: relative; 
        left:500px; 
        padding: 0px;
    }
}
@media only screen and (min-width:1440px) and (max-width:1440px) {
    .presentacion-img{
        position: relative; 
        left:480px; 
        padding: 0px;
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1366px) {
    .presentacion-img{
        position: relative; 
        left:470px; 
        padding: 0px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1280px) {
    .presentacion-img{
        position: relative; 
        left:460px; 
        padding: 0px;
    }
}
@media only screen and (max-width:1196px) {
    .presentacion-img{
        position: relative; 
        left:400px; 
        padding: 0px;
    }
}
@media only screen and (min-width:1025px) {
    .siguiente-movil{
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    #siguiente{
        display: none;
    }
    .siguiente-movil{
        position: relative;
        left: 440px;
        top: -20px;
    }
    .presentacion-img{
        position: relative; 
        left: 380px; 
        padding: 0;
        top: -30px;
    }
    article{
        position: relative;
        top: -35px;
    }
}
@media only screen and (max-width:1000px) {
    .siguiente-movil{
        position: absolute;
        left: 880px;
        top: 230px;
    }
}

@media only screen and (max-width: 997px) {
    .siguiente-movil{
        position: relative;
        left: 400px;
        top: -10px;
    }
    .presentacion-img{
        position: relative;
        top: -30px;
    }
    article{
        position: relative;
        top: -30px;
    }
}
@media only screen and (max-width:996px) {
    .presentacion-img{
        position: relative; 
        left:390px; 
        padding: 0px;
    }
}
@media only screen and (max-width: 987px) {
     /*.siguiente-movil{
        position: relative;
        left: 660px;
     }*/
     .presentacion-img{
        position: relative;
        top: -30px;
        left: 300px;
    } 
}
@media only screen and (max-width:984px) {
    .presentacion-img{
        position: relative; 
        left:280px; 
        padding: 0px;
    }
}
/*@media only screen and (max-width: 976px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 670px;
    }
}*/
@media only screen and (max-width: 960px) {
    #siguiente{
        display: none;
    }
    .img-presentacion{
        width: 310px;
        position: relative;
        left: 0;
    }
    /*.siguiente-movil{
        position: relative;
        left: 670px;
        top: -20px;
        z-index: 100px;
    }*/
}
@media only screen and (max-width: 940px) {
    .siguiente-movil{
        position:relative;
        top: -10px;
        left: 380px;
    }
}
@media only screen and (max-width: 908px) {
    .siguiente-movil{
        position:relative;
        top: -10px;
        left: 340px;
    }
}
@media only screen and (max-width: 900px) {
    #siguiente{
        display: none;
    }
    .img-presentacion{
        width: 310px;
        position: relative;
        left: -10px;
    }
    /*.siguiente-movil{
        position:relative;
        top: 0px;
        left: 780px;
    }*/
}
/*@media only screen and (max-width: 899px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 780px;
    }
}*/
/*@media only screen and (max-width: 892px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 660px;
    }
}*/
/*@media only screen and (max-width: 872px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 660px;
    }
}*/
@media only screen and (max-width: 854px) {
    #siguiente{
        display: none;
    }
    .img-presentacion{
        width: 310px;
        position: relative;
        left: 0;
    }
    .siguiente-movil{
        position: relative;
        left: 670px;
        top: -10px;
        padding: 0;
        margin: 0;
        /*z-index: 100;*/
    }
}
@media only screen and (max-width: 835px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 660px;
    }
}
@media only screen and (max-width: 823px) {
    .siguiente-movil{
        position:relative;
        top: -20px;
        left: 660px;
    }
}
@media only screen and (max-width: 800px) {
    .presentacion-img{
        position: relative; 
        left: 300px; 
        padding: 0px;
        top: -20px;
        }
    .siguiente-movil{
        position: relative;
        top: -10px;
        left: 660px;
        padding: 0;
        margin: 0;
       /* z-index: 100;*/
    }
    .img-presentacion{
        width: 300px; 
        float: right; 
        padding: 0;
        margin: 0;
        left: 2px;
    }
    article{
        position: relative;
        top: -30px;
    }
}
@media only screen and (max-width: 799px) {
    .presentacion-img{
        position: relative;
        left: 280px;
    }
}
@media only screen and (max-width: 789px) {
     .siguiente-movil{
        position:relative;
        top: -15px;
        left: 620px;
    }
}
@media only screen and (max-width: 745px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 640px;
    }
}
@media only screen and (max-width: 736px) {
   .siguiente-movil{
        position: relative;
        top: -20px;
        left: 620px;
        padding: 0;
        margin: 0;
        /*z-index: 100;*/
    } 
    .presentacion-img{
        position: relative;
        top: -40px;
        left: 260px;
    }
    article{
        position: relative;
        top: -50px;
    }
}
@media only screen and (max-width: 732px) {
   .siguiente-movil{
        position: relative;
        top: -20px;
        left: 625px;
        padding: 0;
        margin: 0;
        /*z-index: 100;*/
    } 
    .presentacion-img{
        position: relative;
        top: -30px;
        left: 260px;
    }
}
@media only screen and (max-width: 724px) {
    .siguiente-movil{
        position: relative;
        top: -20px;
        left: 600px;
    }
    .presentacion-img{
        position: relative;
        top: -20px;
    }
    article{
        position: relative;
        top: -20px;
    }
}
@media only screen and (max-width: 705px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 590px;
    }
}
@media only screen and (max-width: 696px) {
    .siguiente-movil{
        position: relative;
        top: -15px;
        left: 560px;
    }
}
@media only screen and (max-width: 676px) {
    .presentacion-img{
        position: relative;
        left: 230px;
    }
}
@media only screen and (max-width: 674px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 560px;
    }
}
@media only screen and (max-width:667px) {
    .siguiente-movil{
        position: relative;
        top: -20px;
        left: 550px;
        padding: 0;
        margin: 0;
       /* z-index: 100;*/
    }
    .presentacion-img{
        position: relative;
        top: -30px;
        left: 230px;
    }
    article{
        position: relative;
        top: -40px;
    }
}
@media only screen and (max-width: 641px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 530px;
    }
}
@media only screen and (max-width: 640px) {
    .img-presentacion{
        width: 300px;
        float: right; 
        padding: 0px;
    }
    p{
        font-size: 13px
    }
    .siguiente-movil{
        position: relative;
        top: -15px;
        left: 530px;
        padding: 0;
        margin: 0;
        /*z-index: 100;*/
    }
    .presentacion-img{
        position: relative;
        top: -20px;
        left: 220px;
    }
    article{
        position: relative;
        top: -25px;
    }
}
@media only screen and (max-width: 632px) {
    .siguiente-movil{
        position: relative;
        left: 500px;
    }
}
@media only screen and (max-width: 624px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 500px;
    }
}
@media only screen and (max-width: 616px) {
    .siguiente-movil{
        position: relative;
        top: -10px;
        left: 480px
    }
    .presentacion-img{
        position: relative;
        left: 200px;
    }
}
@media only screen and (max-width: 600px) {
    .img-presentacion{
        width: 300px;
        float: right; 
        padding: 0px;
    }
    p{
        font-size: 13px
    }
    .siguiente-movil{
        position: relative;
        top: -20px;
        left: 480px;
        padding: 0;
        margin: 0;
        /*z-index: 100;*/
    }
    .presentacion-img{
        position: relative;
        top: -30px;
        left: 200px;
    }
    article{
        position: relative;
        top: -35px;
    }
}
@media only screen and (max-width: 584px) {
    .siguiente-movil{
        position:relative;
        top: -15px;
        left: 460px;
    }
}
@media only screen and (max-width: 568px) {
    .siguiente-movil{
        position: relative;
        top: -20px;
        left: 450px;
        padding: 0;
        margin: 0;
       /* z-index: 100;*/
    }
    .presentacion-img{
        position: relative;
        top: -20px;
        left: 190px;
    }
    article{
        position: relative;
        top: -30px;
    }
}
@media only screen and (max-width: 560px) {
    .presentacion-img{
        position: relative;
        left: 180px;
    }
}
@media only screen and (max-width: 564px) {
    .siguiente-movil{
        position: relative;
        top: -20px;
        left: 430px;
        padding: 0;
        margin: 0;
    }
}
@media only screen and (max-width: 536px) {
    .siguiente-movil{
        position: relative;
        top: -20px;
        left: 400px;
        padding: 0;
        margin: 0;
        /*z-index: 100;*/
    }
}
@media only screen and (max-width: 533px) {
    .siguiente-movil{
        position: relative;
        top: -20px;
        left: 415px;
        padding: 0;
        margin: 0;
        /*z-index: 100;*/
    }
    .presentacion-img{
        position: relative;
        top: -30px;
        left: 170px;
    }
}
@media only screen and (max-width: 528px) {
    .siguiente-movil{
        position: relative;
        top: -20px;
        left: 410px;
        padding: 0;
        margin: 0;
    }
}
@media only screen and (max-width: 515px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 400px;
    }
}
@media only screen and (max-width: 510px) {
    .siguiente-movil{
        position:relative;
        top: -10px;
        left: 380px;
    }
}
@media only screen and (max-width: 488px) {
    .siguiente-movil{
        position:relative;
        top: -15px;
        left: 360px;
    }
    .presentacion-img{
        position: relative; 
        left: 140px; 
        padding: 0px
    }
@media only screen and (max-width: 482px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 370px;
    }
}
@media only screen and (max-width: 480px) {
    .presentacion-img{
        position: relative; 
        left: 130px; 
        padding: 0px
    }
    .siguiente-movil{
        position:relative;
        top: -20px;
        left: 370px;
    }
    .img-presentacion{
        width: 190px;
        float: right; 
        padding: 0px;
    }
    p{
        font-size: 12.5px
    }
}
@media only screen and (max-width: 472px) {
    .siguiente-movil{
        position:relative;
        top: -20px;
        left: 350px;
    }
}
@media only screen and (max-width: 465px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 360px;
    }
}
@media only screen and (max-width: 464px) {
    .siguiente-movil{
        position:relative;
        top: -15px;
        left: 350px;
    }
}
@media only screen and (max-width: 456px) {
    .siguiente-movil{
        position:relative;
        top: -15px;
        left: 330px;
    }
}
@media only screen and (max-width: 444px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 340px;
    }
}
@media only screen and (max-width: 440px) {
    .siguiente-movil{
        position:relative;
        top: -20px;
        left: 320px;
    }
}
@media only screen and (max-width: 440px) {
    .presentacion-img{
        position: relative; 
        left: 110px;
        top: -30px; 
        padding: 0px
    }
}
@media only screen and (max-width: 430px) {
    .siguiente-movil{
        position:relative;
        top: -20px;
        left: 300px;
    }
}
@media only screen and (max-width: 414px) {
    .img-presentacion{
        width: 190px;
        float: right; 
        padding: 0px;
    }
    .presentacion-img{
        position: relative; 
        left: 110px;
        top: -30px; 
        padding: 0px
    }
    .siguiente-movil{
        position: relative;
        top: -20px;
        left: 300px;
        padding: 0;
        margin: 0;
        /*z-index: 100;*/
    }
    p{
        font-size: 12.5px
    }
    article{
        position: relative;
        top: -40px;
    }
}
@media only screen and (max-width: 412px) {
    .siguiente-movil{
        position: relative;
        top: -15px;
        left: 300px;
        padding: 0;
        margin: 0;
        /*z-index: 100;*/
    }
    .presentacion-img{
        position: relative; 
        left: 100px; 
        padding: 0;
        top: -25px;
    }
    .img-presentacion{
        width: 190px;
        float: right; 
        padding: 0px;
    }
    p{
        font-size: 12.5px
    }
}
@media only screen and (max-width: 411px) {
    .siguiente-movil{
        position: relative;
        top: -20px;
        left: 300px;
        padding: 0;
        margin: 0;
       /* z-index: 100;*/
    }
    .presentacion-img{
        position: relative;
        top: -30px;
        left: 120px;
    }
    article{
        position: relative;
        top: -40px;
    }
}
@media only screen and (max-width: 400px) {
    .siguiente-movil{
        position:relative;
        top: -20px;
        left: 280px;
    }
    .presentacion-img{
        position: relative;
        top: -30px;
        left: 100px;
    }
}
@media only screen and (max-width: 399px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 300px;
    }
}
@media only screen and (max-width: 392px) {
    .siguiente-movil{
        position:relative;
        top: -20px;
        left: 260px;
    }
}
@media only screen and (max-width: 385px) {
    .siguiente-movil{
        position:relative;
        top: 0px;
        left: 280px;
    }
}
@media only screen and (max-width: 384px) {
    .siguiente-movil{
        position: relative;
        top: -20px;
        left: 260px;
        padding: 0;
        margin: 0;
        /*z-index: 100;*/
    }
    .presentacion-img{
        position: relative;
        top: -30px;
        left: 90px;
    }
    .img-presentacion{
        width: 190px; 
        float: right; 
        padding: 0px;
        margin: -1px;
        left: 9px;
    }
    p{
        font-size: 10px;
    }
}
@media only screen and (max-width: 360px) {
    .img-presentacion{
        width: 190px; 
        float: right; 
        padding: 0px;
        margin: -1px;
        left: 9px;
    }
    .siguiente-movil{
        position: relative;
        top: -18px;
        left: 250px;
        padding: 0;
        margin: 0;
        /*z-index: 100;*/
    }
    .presentacion-img{
        position: relative;
        top: -30px;
        left: 75px;
    }
    article{
        position: relative;
        top: -40px;
    }
}
@media only screen and (max-width: 352px) {
    .siguiente-movil{
        position: relative;
        top: -18px;
        left: 230px;
        padding: 0;
        margin: 0;
    }
}
@media only screen and (max-width: 340px) {
    .siguiente-movil{
        position:relative;
        top: -20px;
        left: 220px;
    }
}
@media only screen and (max-width: 320px) {
    .siguiente-movil{
        position: relative;
        top: -20px;
        font-size: 9px;
        padding: 0;
        margin: 0;
        left: 210px;
        /*z-index: 100;*/
    }
    .presentacion-img{
        position: relative;
        top: -30px;
        left: 65px;
    }
}