.modal-dialog {
    width: 600px;
    margin: 200px auto;
  }
section{
    border: solid 1px #D17E24;
    padding: 0;
    border-radius: 50px;
}
#texto-narrativa{
    padding: 10px;
    font-size: 14px;
    text-align: justify;
}
.col-lg-2{
    position: absolute;
    top: -330px
}
#atras{
    position: absolute;
    left: -200px;
    top: 60px;
    width: 60px

}
#img-plancton{
    position: relative;
    float: right; 
    padding: 0;
    top: 0;
    margin: 5px;
    left: 9px;
    width: 300px;
}
#plancton{
    text-align: justify;
}
.configurador-clima{
    position: absolute;
    left: 230px;
    top: 270px;
}
@media only screen and (min-width:1920px) {
    .atras-movil{
        display: none;
    }
    .row{
        padding: 0;
        border-radius: 50px;
        left: 210px;
        position: relative;
        width: 1500px;
        top: 90px;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -200px;
        top: 80px;
    }
}
@media only screen and (max-width: 1919px) and (min-width: 1900px) {
    .atras-movil{
        display: none;
    }
    .row{
        padding: 0;
        border-radius: 50px;
        left: 150px;
        position: relative;
        width: 1600px;
        top: 90px;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -220px;
        top: 100px;
    }
}
@media only screen and (max-width: 1899px) and (min-width: 1860px) {
    .atras-movil{
        display: none;
    }
    .row{
        padding: 0;
        border-radius: 50px;
        left: 150px;
        position: relative;
        width: 1600px;
        top: 90px;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -220px;
        top: 100px;
    }
}
@media only screen and (max-width: 1881px) and (min-width: 1800px) {
    .atras-movil{
        display: none;
    }
    .row{
        padding: 0;
        border-radius: 50px;
        left: 100px;
        position: relative;
        width: 1600px;
        top: 90px;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -220px;
        top: 100px;
    }
}
@media only screen and (max-width: 1799px) and (min-width: 1739px) {
    .atras-movil{
        display: none;
    }
    .row{
        padding: 0;
        border-radius: 50px;
        left: 100px;
        position: relative;
        width: 1600px;
        top: 90px;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -220px;
        top: 100px;
    }
}
@media only screen and (max-width: 1740px) and (min-width: 1700px) {
    .atras-movil{
        display: none;
    }
    .row{
        padding: 0;
        border-radius: 50px;
        left: 70px;
        position: relative;
        width: 1600px;
        top: 90px;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -220px;
        top: 100px;
    }
}
@media only screen and (max-width: 1699px) and (min-width: 1670px) {
    .atras-movil{
        display: none;
    }
    .row{
        padding: 0;
        border-radius: 50px;
        left: 40px;
        position: relative;
        width: 1600px;
        top: 40px;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -220px;
        top: 100px;
    }
}
@media only screen and (max-width: 1670px) and (min-width: 1640px) {
    body{
        overflow-x: hidden;
    }
    .atras-movil{
        display: none;
    }
    .row{
        padding: 0;
        border-radius: 50px;
        left: 40px;
        position: relative;
        width: 1600px;
        top: 40px;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -220px;
        top: 100px;
    }
}
@media only screen and (max-width: 1639px) and (min-width: 1600px) {
    body{
        overflow-x: hidden;
    }
    .atras-movil{
        display: none;
    }
    .row{
        padding: 0;
        border-radius: 50px;
        left: 0;
        position: relative;
        width: 1600px;
        top: -10px;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -220px;
        top: 100px;
    }
}
@media only screen and (max-width: 1599px) and (min-width: 1560px) {
    body{
        overflow-x: hidden;
    }
    .atras-movil{
        display: none;
    }
    .row{
        padding: 0;
        border-radius: 50px;
        left: -10px;
        position: relative;
        width: 1600px;
        top: 40px;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -220px;
        top: 100px;
    }
}
@media only screen and (max-width: 1561px) and (min-width: 1500px) {
    body{
        overflow-x: hidden;
    }
    .atras-movil{
        display: none;
    }
    .row{
        padding: 0;
        border-radius: 50px;
        left: -40px;
        position: relative;
        width: 1600px;
        top: 40px;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -220px;
        top: 100px;
    }
}
@media only screen and (max-width:1499px) and (min-width:1440px) {
    .atras-movil{
        display: none;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
        position: relative;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -230px;
        top: 80px;
    }
}
@media only screen and (max-width:1439px) and (min-width:1400px) {
    .atras-movil{
        display: none;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
        position: relative;
    }
    #img-plancton{
        position: relative;
        float: right; 
        padding: 0;
        top: 0;
        margin: 5px;
        left: 9px;
        width: 300px;
    }
    #atras{
        position: absolute;
        left: -230px;
        top: 80px;
    }
}
@media only screen and (max-width: 1399px) and (min-width: 1337px) {
    .atras-movil{
        display: none;
    }
}
@media only screen and (min-width:1336px) and (max-width: 1336px) {
    .atras-movil{
        display: none;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
    }
    #atras{
        position: absolute;
        left: -200px;
        top: 60px;
    }
}
@media only screen and (min-width:1300px) and (max-width:1366px) {
    .atras-movil{
        display: none;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
    }
    #atras{
        position: absolute;
        left: -200px;
        top: 60px;
    }
}
@media only screen and (max-width:1299px) and (min-width:1200px) {
    .atras-movil{
        display: none;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
    }
    #atras{
        position: absolute;
        left: -200px;
        top: 60px;
    }
}
@media only screen and (max-width:1288px) and (min-width:1288px) {
    .atras-movil{
        display: none;
    }
}
@media only screen and (max-width:1280px) and (min-width:1280px) {
    .atras-movil{
        display: none;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
    }
    #atras{
        position: absolute;
        left: -200px;
        top: 60px;
    }
}
@media only screen and (max-width:1272px) and (min-width:1272px) {
    .atras-movil{
        display: none;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
    }
    #atras{
        position: absolute;
        left: -200px;
        top: 60px;
    }
}
@media only screen and (max-width:1196px) and (min-width:1025px) {
    .atras-movil{
        display: none;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 130px;
    }
    #atras{
        position: absolute;
        left: -200px;
        top: 60px;
    }
}
@media only screen and (max-width:1024px) {
    body{
        overflow-x: hidden;
    }
    .atras-movil{
       position:relative;
       left: 10px;
       top: -20px;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 80px;
        top: -20px
    }
    #atras{
        display: none;
    }
}
@media only screen and (max-width:960px) {
    .atras-movil{
        margin: 8px;
        padding: 0;
        top: -25px;
        left: 10px;
        position: relative;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
    }
}
@media only screen and (max-width:988px) {
    .atras-movil{
        margin: 8px;
        padding: 0;
        top: -25px;
        left: 10px;
        position: relative;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
    }  
}
@media only screen and (max-width:800px) {
    .siguiente-movil{
        display: none;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
    }
    #atras{
        position: absolute;
        left: -200px;
        top: 0;
    }
    #texto-narrativa{
        font-size: 13px;
    }
}
@media only screen and (max-width:768px) {
    #img-plancton{
        width: 170px;
        padding: 5px;
        top: -2px;
        margin: 0;
    }
    #atras{
        display: none;
    }
    .atras-movil{
        margin: 8px;
        padding: 0;
        top: -25px;
        left: 10px;
        position: relative;
    }   
}
@media only screen and (max-width:732px) {
    .atras-movil{
        margin: 8px;
        padding: 0;
        top: -25px;
        left: 10px;
        position: relative;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
    } 
}
@media only screen and (max-width:640px) {
    .atras-movil{
        margin: 8px;
        padding: 0;
        top: -25px;
        left: 10px;
        position: relative;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
    }
}
@media only screen and (max-width:600px) {
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
    }
}
@media only screen and (max-width:414px) {
    .atras-movil{
        margin: 8px;
        padding: 0;
        top: -25px;
        left: 10px;
        position: relative;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
        width: 400px;
    }
}
@media only screen and (max-width:384px) {
    .atras-movil{
        margin: 8px;
        padding: 0;
        top: -25px;
        left: 10px;
        position: relative;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
        width: 370px;
    }
}
@media only screen and (max-width:375px) {
    .atras-movil{
        margin: 8px;
        padding: 0;
        top: -25px;
        left: 10px;
        position: relative;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
        width: 370px;
    }
}
@media only screen and (max-width:360px) {
    .atras-movil{
        margin: 8px;
        padding: 0;
        top: -25px;
        left: 10px;
        position: relative;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
        width: 360px;
    } 
}
@media only screen and (max-width:320px) {
    body{
        overflow-x: hidden;
    }
    .atras-movil{
        margin: 8px;
        padding: 0;
        top: -25px;
        left: 10px;
        position: relative;
    }
    section{
        border: solid 1px #D17E24;
        padding: 0;
        border-radius: 50px;
        left: 0;
        width: 310px;
    }
}