table,th,td{
    border: 1px solid #000;
    text-align: center;
    width: 0;
}
#img-medio{
	width: 100px;
	position: relative;
}
#img-pdf{
	width: 70px;
	position: relative;
}
#img-lithium{
	width: 80px;
	position: relative;
}
#img-kindle{
	width: 80px;
	position: relative;
}
#img-adobe{
	width: 70px;
	position: relative;
}
.col-lg-1{
	 float: right; 
   position: relative;
}
#introduccion-img{
  position: relative;
  top: 10px; 
}
#tabla-bio.table {
  background-color: #000;
}
.efecto-introduccion img{
    position: static;
    -webkit-transition:all .6s ease; /* Safari y Chrome */
    -moz-transition:all .6s ease; /* Firefox */
    -o-transition:all .6s ease; /* IE 9 */
    -ms-transition:all .6s ease; /* Opera */  
}
.efecto-introduccion:hover img{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #000;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #000;
}
@media only screen and (min-width: 1920px) {
  #introduccion-img{
    position: relative;
    left: 320px;
    top: 10px;
  }
}
@media only screen and (max-width: 1919px) {
  #introduccion-img{
    position: relative;
    left: 320px;
    top: 10px;
  }
}
@media only screen and (max-width: 1788px) {
  #introduccion-img{
    position: relative;
    left: 210px;
    top: 10px;
  }
}
@media only screen and (max-width: 1648px) {
  #introduccion-img{
    position: relative;
    left: 160px;
    top: 10px;
  }
}
@media only screen and (max-width: 1568px) {
  #introduccion-img{
    position: relative;
    left: 120px;
    top: 10px;
  }
}
@media only screen and (max-width: 1488px) {
  #introduccion-img{
    position: relative;
    left: 60px;
    top: 10px;
  }
}
@media only screen and (max-width: 1366px) {
  #introduccion-img{
    position: relative;
    left: 50px;
    top: 10px;
  }
}
@media only screen and (max-width: 1350px) {
  #introduccion-img{
    position: relative;
    left: 20px;
    top: 10px;
  }
}
@media only screen and (max-width: 1288px) {
  #introduccion-img{
    position: relative;
    left: 0;
    top: 10px;
  }
}
@media only screen and (max-width: 1196px) {
  #introduccion-img{
    position: relative;
    left: 80px;
    top: 10px;
  }
}
@media only screen and (max-width: 1080px) {
  #introduccion-img{
    position: relative;
    left: 0;
    top: 10px;
  }
}
@media only screen and (max-width: 980px) {
  #introduccion-img{
    position: relative;
    left: 100px;
    top: 10px;
  }
}
@media only screen and (max-width: 899px) {
  #introduccion-img{
    position: relative;
    left: 50px;
    top: 10px;
  }
}
@media only screen and (max-width: 780px) {
  #introduccion-img{
    position: relative;
    left: 0;
    top: 10px;
  }
}