#icono-menu{
    position: relative;
    width: 110px;
    top: 20px;
}
#texto-submenu{
    position: relative;
    top: -24px;
    left: 20px;
}
#texto{
    position: relative;
    top: -24px;
    left: 55px;
}
#menu{
    margin:0;
    width:500px;
    list-style: none;
    position: absolute;
    /*top: 80%;*/
    left: 0;
    padding: 0;
    z-index: 100;
}          
ul, ol {
    list-style:none;   
}           
.lista > li {
    float:left;
}          
.lista li a {
    color:black;
    text-decoration:none;
    padding:3px 5px;
    display:block;  
}          
.lista li a:hover {
    /*background-color:#434343;*/
    opacity: .70;
}         
.lista li ul {
    display:none;
    position:absolute;
    /*min-width:140px;*/
    top: -15px;
    left: 115px;
    font-size:11px;
    z-index: 100;
}          
.lista li:hover > ul {
    display:block;
}           
.lista li ul li {
    position:relative;
}         
.lista li ul li ul {
    right:-200px;
    top:10px;
    left: 30px; 
}
@media only screen and (min-width: 2000px) {
   .col-lg-2 {
        position: relative;
        top: 50px;
        left: 280px;
    }
}
@media only screen and (max-width: 1999px) {
   .col-lg-2 {
        position: relative;
        top: 20px;
        left: 280px;
   }
}
@media only screen and (max-width: 1836px) {
    .col-lg-2 {
        position: relative;
        top: 20px;
        left: 250px;
   }
}
@media only screen and (max-width: 1759px) {
    .col-lg-2 {
        position: relative;
        top: 10px;
        left: 240px;
   }
}
@media only screen and (max-width: 1699px) {
    .col-lg-2 {
        position: relative;
        top: 10px;
        left: 220px;
   }
}
@media only screen and (max-width: 1600px) {
    .col-lg-2 {
        position: relative;
        top: 400px;
        left: 130px;
   }
}
@media only screen and (max-width: 1599px) {
    .col-lg-2 {
        position: relative;
        top: 430px;
        left: 130px;
   }
}
@media only screen and (max-width: 1440px) {
    .col-lg-2 {
        position: relative;
        top: 430px;
        left: 130px;
   }
}
@media only screen and (max-width: 1379px) {
    .col-lg-2 {
        position: relative;
        top: 430px;
        left: 120px;
   }
}
@media only screen and (max-width: 1366px) {
    .col-lg-2 {
        position: relative;
        top: -10px;
        left: 120px;
   }
   #icono-menu{
        position: relative;
        width: 110px;
        top: 10px;
    }
}
@media only screen and (max-width: 1364px) {
    .col-lg-2 {
        position: relative;
        top: 450px;
        left: 110px;
   }
}
@media only screen and (max-width: 1359px) {
    .col-lg-2 {
        position: relative;
        top: 20px;
        left: 110px;
   }
}
@media only screen and (max-width: 1347px) {
    .col-lg-2 {
        position: relative;
        top: 20px;
        left: 120px;
   }
}
@media only screen and (max-width: 1299px) {
    .col-lg-2 {
        position: relative;
        top: 20px;
        left: 120px;
   }
}
@media only screen and (max-width: 1286px) {
    .col-lg-2 {
        position: relative;
        top: 440px;
        left: 120px;
   }
}
@media only screen and (max-width: 1280px) {
    .col-lg-2 {
        position: relative;
        top: 10px;
        left: 120px;
   }
}
@media only screen and (max-width: 1279px) {
    .col-lg-2 {
        position: relative;
        top: 440px;
        left: 120px;
   }
}
@media only screen and (max-width: 1277px) {
    .col-lg-2 {
        position: relative;
        top: 20px;
        left: 120px;
   }
}
@media only screen and (min-width:1025px) {
    .movil{
        display: none;
    }
    .atras-movil{
        display: none;
    }
}